@mixin menu-item {
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
}
@mixin slider-headline {
  font-size: 0.7em;
  font-weight: 500;
  color: $color;
  background-color: $yellow;
}
@mixin slider-title {
  font-size: 0.8em;
  font-weight: 500;
  color: $white;
  background-color: $color;
}
@mixin btn {
  width: 80%;
  color: $white;
  background-color: #000;
  border-bottom: 2px solid $yellow;
  padding: 5px 10px;
  margin-bottom: 30px;
}
@mixin dev-headline {
  font-size: 1em;
  font-weight: 600;
  color: $color;
  line-height: 0.6;
}
@mixin dev-title {
  font-size: 1em;
  color: $color;
  padding-top: 10px;
}
@mixin icon-dev {
  font-size: 5em;
}
