@mixin menu-item {
  font-weight: 400;
  font-size: $small;
  text-transform: uppercase;
}
@mixin slider-headline {
  font-size: $smaller;
  font-weight: 500;
  color: $color;
  background-color: $yellow;
}
@mixin slider-title {
  font-size: $smaller;
  font-weight: 500;
  color: $white;
  background-color: $color;
}
@mixin btn {
  width: 80%;
  color: $white;
  background-color: $black;
  border-bottom: 2px solid $yellow;
  padding: 5px 10px;
  margin-bottom: 30px;
}
@mixin dev-headline {
  font-size: $small;
  font-weight: 600;
  color: $color;
  line-height: 0.6;
}
@mixin dev-title {
  font-size: $small;
  color: $color;
  padding-top: 10px;
}
@mixin icon-dev {
  font-size: $icon-size;
}
@mixin section-btn {
  font-size: $small;
  color: $yellow;
  background-color: $color;
  padding: 2px 16px;
}