$color: #424146;
$size-menu: 2em;
$white: #FFF;
$yellow: #FFEA00;
$black: #000;
$line: #CACACA;
$cream: #F6F6F6;

$extra-small: 0.3em;
$footer: 0.5em;
$smaller: 0.7em;
$small: 1em;
$normal: 1.2em;
$big: 1.5em;
$icon-size: 5em;
