#header {
  padding: 2% 0 2%; }
  #header .icon-three-bars {
    color: #424146;
    font-size: 2em; }

#header ul li {
  margin-right: 10px; }
  #header ul li a {
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    color: #424146; }
    #header ul li a:hover {
      background-color: #FFEA00; }

#home #page1 {
  background-color: #FFEA00; }

.indent {
  padding: 0;
  margin: 0; }

.section-slider {
  width: 100%;
  height: 100%;
  background: url("../img/slider.jpg") no-repeat center/cover;
  padding: 3% 0 3%; }
  .section-slider h2 span {
    font-size: 0.7em;
    font-weight: 500;
    color: #424146;
    background-color: #FFEA00; }
  .section-slider p span {
    font-size: 0.7em;
    font-weight: 500;
    color: #FFF;
    background-color: #424146; }

.section-slider .btn {
  width: 80%;
  color: #FFF;
  background-color: #000;
  border-bottom: 2px solid #FFEA00;
  padding: 5px 10px;
  margin-bottom: 30px; }
  .section-slider .btn:hover {
    color: #FFEA00;
    background-color: #424146; }

#development {
  padding: 5% 0 10%;
  position: relative; }
  #development .dev-headline {
    font-size: 1em;
    font-weight: 600;
    color: #424146;
    line-height: 0.6; }
  #development .dev-title {
    font-size: 1em;
    color: #424146;
    padding-top: 10px; }

.layer-one {
  width: 100%;
  height: 100%;
  background-color: #FFEA00;
  padding: 10% 10% 5%;
  position: relative; }
  .layer-one .icon-dev {
    font-size: 5em; }

.layer-two {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.8s linear;
  opacity: 0; }
  .layer-two:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    border: 10px solid transparent;
    border-bottom: 10px solid #424146; }
  .layer-two img {
    width: 100%;
    height: 100%; }

.card .layer-one h3 {
  font-size: 1em; }
.card .card-body p span {
  font-size: 0.7em; }

.card .body-bg {
  background-color: #424146; }
.card .layer-one-text {
  position: relative; }
.card .layer-two-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.8s linear;
  opacity: 0; }
  .card .layer-two-text .card-link {
    font-size: 0.7em;
    color: #FFEA00; }

.card:hover .layer-two {
  opacity: 1; }
.card:hover .layer-two-text {
  opacity: 1; }

#work .work-headline {
  font-size: 1em;
  color: #FFEA00;
  background-color: #424146;
  padding: 2px 16px;
  position: relative; }
  #work .work-headline:before {
    content: "";
    border-top: 1px solid #CACACA;
    display: block;
    position: absolute;
    top: 50%;
    right: 150%;
    width: calc(50vw - 130px); }
  #work .work-headline:after {
    content: "";
    border-top: 1px solid #CACACA;
    display: block;
    position: absolute;
    top: 50%;
    left: 150%;
    width: calc(50vw - 130px); }

#work .grid {
  padding: 10% 0; }
  #work .grid .grid-sizer, #work .grid .grid-item {
    width: 20%; }
  #work .grid .gutter-sizer {
    width: 0; }
  #work .grid .grid-item img {
    width: 100%; }
  #work .grid .grid-item--width1 {
    width: 30%; }
  #work .grid .grid-item--width2 {
    width: 15%; }
  #work .grid .grid-item--width3 {
    width: 10%; }

@media (min-width: 425px) {
  .section-slider h2 span {
    font-size: 1em; }
  .section-slider p span {
    font-size: 1.2em; } }
@media (min-width: 576px) {
  .section-slider h2 span {
    font-size: 1.5em; }
  .section-slider p span {
    font-size: 1.5em; }
  .section-slider .btn {
    width: 150px; } }
@media (min-width: 768px) {
  #header ul a {
    padding: 25px 9px; }

  .section-slider h2 span {
    font-size: 1em; }
  .section-slider p span {
    font-size: 1em; }
  .section-slider .btn {
    margin-left: 150px; }

  .card .layer-one h3 {
    font-size: 1.2em; }
  .card .card-body p span {
    font-size: 1em; }

  #development .dev-headline {
    font-size: 1.5em; }
  #development .dev-title {
    font-size: 1.2em; } }
@media (max-width: 768px) {
  ul a {
    padding: 2px 10px; } }
@media (min-width: 992px) {
  .section-slider .slider-headline {
    padding-left: 7%; }
  .section-slider h2 span {
    font-size: 1.2em; }
  .section-slider p span {
    font-size: 1.2em; }
  .section-slider .btn {
    margin-left: 150px; }

  .card .layer-one h3 {
    font-size: 1em; }
  .card .card-body p {
    font-size: 0.7em;
    line-height: normal; } }
@media (min-width: 1200px) {
  .section-slider .slider-headline {
    padding-left: 7%; }
  .section-slider h2 span {
    font-size: 1.5em; }
  .section-slider p span {
    font-size: 1.5em; } }

/*# sourceMappingURL=style.css.map */
