@import "mixins";
@import "variables";

#header {
  padding: 2% 0 2%;

  .icon-three-bars {
    color: $color;
    font-size: $size-menu;
  }
}

#header {
  ul {
    li {
      margin-right: 10px;

      a {
        @include menu-item;
        color: $color;

        &:hover {
          background-color: $yellow;
        }
      }
    }
  }
}

#home {
  #page1 {
    background-color: $yellow;
  }
}

.indent {
  padding: 0;
  margin: 0;
}

.section-slider {
  width: 100%;
  height: 100%;
  background: url("../img/slider.jpg") no-repeat center / cover;
  padding: 3% 0 3%;

  h2 span {
    @include slider-headline;
  }

  p span {
    @include slider-title;
  }
}

.section-slider {
  .btn {
    @include btn;

    &:hover {
      color: $yellow;
      background-color: $color;
    }
  }
}

#development {
  padding: 5% 0 10%;
  position: relative;
  .dev-headline {
    @include dev-headline;
  }
  .dev-title {
    @include dev-title;
  }
}

.layer-one {
  width: 100%;
  height: 100%;
  background-color: $yellow;
  padding: 10% 10% 5%;
  position: relative;

  .icon-dev {
    @include icon-dev;
  }
}

.layer-two {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.8s linear;
  opacity: 0;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    border: 10px solid transparent;
    border-bottom: 10px solid $color;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.card {
  .layer-one h3 {
    font-size: $small;
  }
  .card-body p span {
    font-size: $smaller;
  }
}

.card {
  .body-bg {
    background-color: $color;
  }
  .layer-one-text {
    position: relative;
  }
  .layer-two-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.8s linear;
    opacity: 0;
    .card-link {
      font-size: 0.7em;
      color: $yellow;
    }
  }
}

.card {
  &:hover .layer-two {
    opacity: 1;
  }
  &:hover .layer-two-text {
    opacity: 1;
  }
}

#work {
  .work-headline {
    @include section-btn;
    position: relative;
    &:before {
      content: "";
      border-top: 1px solid $line;
      display: block;
      position: absolute;
      top: 50%;
      right: 150%;
      width: calc(50vw - 130px);
    }
    &:after {
      content: "";
      border-top: 1px solid $line;
      display: block;
      position: absolute;
      top: 50%;
      left: 150%;
      width: calc(50vw - 130px);
    }
  }
}

#work {
  .grid {
    padding: 10% 0;
    .grid-sizer, .grid-item {
      width: 20%;
    }
    .gutter-sizer {
      width: 0;
    }
    .grid-item img {
      width: 100%;
    }
    .grid-item--width1 {
      width: 30%;
    }
    .grid-item--width2{
      width: 15%;
    }
    .grid-item--width3{
      width: 10%;
    }
  }
}









@media (min-width: 425px) {
  .section-slider {
    h2 span {
      font-size: $small;
    }
    p span {
      font-size: $normal;
    }
  }
}

@media (min-width: 576px) {
  .section-slider {
    h2 span {
      font-size: $big;
    }

    p span {
      font-size: $big;
    }

    .btn {
      width: 150px;
    }
  }
}

@media (min-width: 768px) {
  #header {
    ul a {
      padding: 25px 9px;
    }
  }
  .section-slider {
    h2 span {
      font-size: $small;
    }

    p span {
      font-size: $small;
    }

    .btn {
      margin-left: 150px;
    }
  }
  .card {
    .layer-one h3 {
      font-size: $normal;
    }
    .card-body p span {
      font-size: $small;
    }
  }
  #development {
    .dev-headline {
      font-size: $big;
    }
    .dev-title {
      font-size: $normal;
    }
  }
}



@media (max-width: 768px) {
  #header {
  }
  ul a {
    padding: 2px 10px;
  }
}


@media (min-width: 992px) {
  .section-slider {
    .slider-headline {
      padding-left: 7%;
    }

    h2 span {
      font-size: $normal;
    }

    p span {
      font-size: $normal;
    }

    .btn {
      margin-left: 150px;
    }
  }
  .card {
    .layer-one h3 {
      font-size: $small;
    }
    .card-body p {
      font-size: $smaller;
      line-height: normal;
    }
  }
}

@media (min-width: 1200px) {
  .section-slider {
    .slider-headline {
      padding-left: 7%;
    }

    h2 span {
      font-size: $big;
    }

    p span {
      font-size: $big;
    }
  }
}

