#header {
  background-color: #F6F6F6;
  padding: 2% 0; }
  #header .icon-three-bars {
    color: #424146;
    font-size: 2em; }

#header .active-nav {
  background-color: #FFEA00; }
#header ul li {
  margin: 0 10px 10px; }
  #header ul li:hover {
    background-color: #FFEA00; }
  #header ul li a {
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    color: #424146; }
    #header ul li a:hover {
      background-color: #FFEA00; }

.indent {
  padding: 0;
  margin: 0; }

.section-slider {
  width: 100%;
  background: url("../img/slider.webp") no-repeat center/cover;
  padding: 3% 0;
  position: relative; }
  .section-slider .indicators-type .active {
    border: 3px solid #424146;
    background-color: #FFEA00; }
  .section-slider .indicators-type li {
    width: 15px;
    height: 15px;
    border: 3px solid #424146;
    background-color: #424146; }
  .section-slider h2 span {
    font-size: 0.7em;
    font-weight: 600;
    color: #424146;
    background-color: #FFEA00; }
  .section-slider p span {
    font-size: 1em;
    font-weight: 500;
    color: #FFF;
    background-color: #424146; }
  .section-slider .control-type {
    width: 5%;
    height: 10%;
    opacity: 1;
    background-color: #000;
    position: absolute;
    top: 40%;
    overflow: hidden; }
    .section-slider .control-type:hover {
      filter: invert(0.8); }

.section-slider .btn {
  width: 80%;
  color: #FFF;
  background-color: #000;
  border-bottom: 2px solid #FFEA00;
  padding: 5px 10px;
  margin-bottom: 30px; }
  .section-slider .btn:hover {
    color: #FFEA00;
    background-color: #424146; }

#development {
  background-color: #F6F6F6;
  padding: 5% 0 10%;
  position: relative; }
  #development .dev-headline {
    font-size: 1em;
    font-weight: 600;
    color: #424146;
    line-height: 0.6; }
  #development .dev-title {
    font-size: 1em;
    color: #424146;
    padding-top: 10px; }

.layer-one {
  width: 100%;
  height: 100%;
  background-color: #FFEA00;
  padding: 10% 5% 5%;
  position: relative; }
  .layer-one .icon-dev {
    font-size: 5em; }

.layer-two {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.8s linear;
  -o-transition: 0.8s linear;
  transition: 0.8s linear;
  opacity: 0; }
  .layer-two:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    border: 10px solid transparent;
    border-bottom: 10px solid #424146; }
  .layer-two img {
    width: 100%;
    height: 100%; }

.card .layer-one h3 {
  font-size: 1em; }
.card .card-body p span {
  font-size: 0.7em; }

.card .body-bg {
  background-color: #424146; }
.card .layer-one-text {
  position: relative; }
.card .layer-two-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.8s linear;
  -o-transition: 0.8s linear;
  transition: 0.8s linear;
  opacity: 0; }
  .card .layer-two-text .card-link {
    font-size: 0.7em;
    color: #FFEA00; }

.card:hover .layer-two {
  opacity: 1; }
.card:hover .layer-two-text {
  opacity: 1; }

#work .work-headline {
  font-size: 1em;
  color: #FFEA00;
  background-color: #424146;
  padding: 2px 16px;
  position: relative; }
  #work .work-headline:before {
    content: "";
    border-top: 1px solid #CACACA;
    display: block;
    position: absolute;
    top: 50%;
    right: 150%;
    width: calc(50vw - 130px); }
  #work .work-headline:after {
    content: "";
    border-top: 1px solid #CACACA;
    display: block;
    position: absolute;
    top: 50%;
    left: 150%;
    width: calc(50vw - 130px); }

#work {
  background-color: #F6F6F6; }
  #work .grid {
    padding: 5% 0 10%; }
    #work .grid .grid-sizer, #work .grid .grid-item {
      width: 100%; }
    #work .grid .gutter-sizer {
      width: 0; }
    #work .grid .grid-item img {
      width: 100%; }

#clients {
  background-color: #F6F6F6;
  padding-bottom: 5%;
  position: relative; }
  #clients .clients-headline {
    font-size: 1em;
    color: #FFEA00;
    background-color: #424146;
    padding: 2px 16px;
    position: absolute; }
    #clients .clients-headline:before {
      content: "";
      border-top: 1px solid #CACACA;
      display: block;
      position: absolute;
      top: 50%;
      right: 150%;
      width: calc(50vw - 140px); }
    #clients .clients-headline:after {
      content: "";
      border-top: 1px solid #CACACA;
      display: block;
      position: absolute;
      top: 50%;
      left: 150%;
      width: calc(50vw - 140px); }
  #clients .control-type-mini {
    width: 5%;
    height: 50%;
    opacity: 1;
    background-color: #000;
    position: absolute;
    top: 20%;
    overflow: hidden; }

.icon-custom {
  width: 100%;
  background-color: #000;
  padding: 70% 0; }

#carouselExample .carousel-inner .carousel-item.active,
#carouselExample .carousel-inner .carousel-item-next,
#carouselExample .carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
#carouselExample .carousel-inner .carousel-item-right.active,
#carouselExample .carousel-inner .carousel-item-next {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%); }
#carouselExample .carousel-inner .carousel-item-left.active,
#carouselExample .carousel-inner .carousel-item-prev {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%); }
#carouselExample .carousel-inner .carousel-item-right,
#carouselExample .carousel-inner .carousel-item-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }
#carouselExample a:hover {
  filter: invert(0.8); }

#footer {
  background-color: #424146; }
  #footer .footer-headline {
    font-size: 1em;
    font-weight: bold;
    color: #FFF;
    line-height: 1.7;
    padding-bottom: 10px; }
  #footer .footer-text {
    font-size: 0.7em;
    color: #FFF;
    line-height: 1.7; }
  #footer .footer-btn {
    width: 80%;
    color: #FFF;
    background-color: #000;
    border-bottom: 2px solid #FFEA00;
    padding: 5px 10px;
    margin-bottom: 30px; }
  #footer .photo-stream {
    padding: 1%; }
  #footer .footer-center {
    overflow: hidden; }
  #footer ul .twitter-list:before {
    content: "";
    background-image: url("../img/twitter-con.webp");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    padding-right: 40px;
    margin-top: 10px; }
  #footer ul .twitter-list .twitter-link {
    color: #FFEA00;
    font-weight: bold; }
  #footer ul .twitter-list .days-ago {
    color: #FFEA00;
    font-weight: bold;
    font-size: 0.3em; }
  #footer .icon-style {
    color: #FFF;
    padding: 5px;
    background-color: #000;
    margin-right: 2px; }
    #footer .icon-style:hover {
      filter: invert(0.8); }
  #footer .address-list:before {
    content: "";
    background-image: url("../img/adress.webp");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    padding-right: 40px;
    margin-top: 10px; }
  #footer .phone-list:before {
    content: "";
    background-image: url("../img/phone.webp");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    padding-right: 40px;
    margin-top: 10px; }
  #footer .mail-list:before {
    content: "";
    background-image: url("../img/email.webp");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    padding-right: 40px;
    margin-top: 10px; }
  #footer .mail-link {
    color: #FFEA00;
    font-weight: bold; }
  #footer .form-style {
    width: 200px;
    border: none;
    border-bottom: 2px solid #FFEA00;
    background-color: #424146; }
  #footer .input-content {
    width: 235px;
    position: relative; }
    #footer .input-content:after {
      content: "";
      background-image: url("../img/email.webp");
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      display: block;
      padding-right: 40px;
      margin-top: 10px;
      position: absolute;
      right: -10px;
      top: -15px; }
  #footer .footer-menu {
    background-color: #000;
    padding: 10px 0; }
    #footer .footer-menu .footer-menu-title {
      font-size: 0.7em;
      color: #FFF;
      line-height: 1.7; }
      #footer .footer-menu .footer-menu-title a {
        color: #FFF; }
    #footer .footer-menu .footer-nav {
      padding: 5% 0; }
      #footer .footer-menu .footer-nav a {
        color: #FFF;
        font-size: 0.7em; }
        #footer .footer-menu .footer-nav a:hover {
          color: #FFEA00; }

@media (min-width: 425px) {
  .section-slider h2 span {
    font-size: 1em; }
  .section-slider p span {
    font-size: 1.2em; } }
@media (min-width: 576px) {
  .section-slider h2 span {
    font-size: 1.5em; }
  .section-slider p span {
    font-size: 1.5em; }
  .section-slider .btn {
    width: 150px; }

  #carouselExample .carousel-inner .carousel-item-right.active,
  #carouselExample .carousel-inner .carousel-item-next {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%); }
  #carouselExample .carousel-inner .carousel-item-left.active,
  #carouselExample .carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  #carouselExample .carousel-inner .carousel-item-right,
  #carouselExample .carousel-inner .carousel-item-left {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

  #work .grid {
    padding: 5% 0 10%; }
    #work .grid .grid-sizer {
      width: 5%; }
    #work .grid .gutter-sizer {
      width: 0; }
    #work .grid .grid-item img {
      width: 100%; }
    #work .grid .grid-item--width1 {
      width: 30%; }
    #work .grid .grid-item--width2 {
      width: 20%; }
    #work .grid .grid-item--width3 {
      width: 15%; } }
@media (min-width: 768px) {
  #header ul a {
    padding: 25px 9px; }

  .section-slider h2 span {
    font-size: 1em; }
  .section-slider p span {
    font-size: 1em; }
  .section-slider .btn {
    margin-left: 150px; }
  .section-slider .control-type {
    width: 3%;
    height: 20%;
    opacity: 1;
    background-color: #000;
    position: absolute;
    top: 40%;
    overflow: hidden; }
    .section-slider .control-type .size {
      font-size: 2em; }

  .card .layer-one h3 {
    font-size: 1.2em; }
  .card .card-body p span {
    font-size: 1em; }

  #development .dev-headline {
    font-size: 1.5em; }
  #development .dev-title {
    font-size: 1.2em; }

  #carouselExample .carousel-inner .carousel-item-right.active,
  #carouselExample .carousel-inner .carousel-item-next {
    -webkit-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%); }
  #carouselExample .carousel-inner .carousel-item-left.active,
  #carouselExample .carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%); }
  #carouselExample .carousel-inner .carousel-item-right,
  #carouselExample .carousel-inner .carousel-item-left {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

  #clients .control-type-mini {
    width: 3%;
    height: 80%;
    top: 10%; }
    #clients .control-type-mini .size-mini {
      font-size: 2em; }

  #footer .middle {
    line-height: 1; }
  #footer .footer-text {
    font-size: 0.5em; }
  #footer .days-ago {
    font-size: 0.3em; } }
@media (max-width: 768px) {
  #header ul a {
    padding: 2px 10px; } }
@media (min-width: 992px) {
  .section-slider .slider-headline {
    padding-left: 5%; }
  .section-slider h2 span {
    font-size: 1.2em; }
  .section-slider p span {
    font-size: 1.2em; }
  .section-slider .btn {
    margin-left: 150px; }

  .card .layer-one h3 {
    font-size: 1em; }
  .card .card-body p {
    font-size: 0.7em;
    line-height: normal; }

  #carouselExample .carousel-inner .carousel-item-right.active,
  #carouselExample .carousel-inner .carousel-item-next {
    -webkit-transform: translateX(16.666667%);
    -ms-transform: translateX(16.666667%);
    transform: translateX(16.666667%); }
  #carouselExample .carousel-inner .carousel-item-left.active,
  #carouselExample .carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-16.666667%);
    -ms-transform: translateX(-16.666667%);
    transform: translateX(-16.666667%); }
  #carouselExample .carousel-inner .carousel-item-right,
  #carouselExample .carousel-inner .carousel-item-left {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

  #footer .footer-text {
    font-size: 0.7em; }
  #footer .middle {
    line-height: 1.7; } }
@media (min-width: 1200px) {
  .section-slider .slider-headline {
    padding-left: 5%; }
  .section-slider h2 span {
    font-size: 1.5em; }
  .section-slider p span {
    font-size: 1.5em; } }

/*# sourceMappingURL=style.css.map */
